{% extends 'base.html' %}

{% block title %}
    About Me
{% endblock %}

{% block content %}
<body style="background-color:#D4EFDF;">
<article>
    <br>
    <h2 align='center'>Informacion</h2>
    <br>
    <br>
    </article>
    
    <article>
    <h2 align='center'>¿Quien Soy?</h2>
    <br>
    <p align='center'>Mi nombre es Paula Rico, soy contadora y me encuentro aprendiendo a programar</p>
    <br>
    <br>
    </article>
    
    <article>
    <h2 align='center'>¿Cual es el objetivo de esta pagina web?</h2>
    <br>
    <p align='center'>Esta es una pagina que muestra una tienda de aparatos electronicos con el objetivo de ser el proyecto final del curso de Python</p>
    </article>
    <br>
    <center>
    <img src="https://i.pinimg.com/originals/08/6b/b9/086bb99b166befab59850dbe27078a03.jpg" width="300" height="300" align='center'>
    </center>
</body>
    

{% endblock %}