<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>{% block title %}  {% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/product/list-products/">Listado de productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order/list-orders/">Listado de Ordenes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/store/list-stores/">Listado de Tiendas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_me/">Sobre Nosotros</a>
                    </li>
                     {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout/">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/update/">{{request.user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/update/profile/">Perfil Usuario</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login/">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/signup/">Signup</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/product/list-products/" method="GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Producto</button>
                </form>

            </div>
        </nav>
    </header>
    {% block content %}

    {% endblock %}




    
</body>

</html>