{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <div class="p-5 text-center .bg-cyan .bg-lighten-md">
        <h1 class="mb-3">Lo mejor en tecnología</h1>
    </div>

<div class="row">

    <div class="card .bg-blue" style="width: 18rem;">
        <img src="https://as01.epimg.net/meristation/imagenes/2021/03/18/betech/1616079963_525190_1616080111_noticia_normal.jpg" class="card-img-top" alt="...">
        <div class="card-body d-grid gap-2 col-6 mx-auto">
          <a href="/product/list-products/" class="btn btn-primary">Moviles</a>
        </div>
    </div>
    
    <div class="card .bg-blue" style="width: 18rem;">
        <img src="https://media.istockphoto.com/id/1051401746/es/foto/tecnolog%C3%ADa-de-los-medios-de-comunicaci%C3%B3n-y-concepto-multimedia-streaming.jpg?s=612x612&w=0&k=20&c=SKX4eeIcX8m4KLC7VxbBB_ictZPLaqk8Ufkv2Z_M0xc=" class="card-img-top" alt="...">
        <div class="card-body d-grid gap-2 col-6 mx-auto">
          <a href="/product/list-products/" class="btn btn-primary">TV</a>
        </div>
    </div>

    <div class="card .bg-blue" style="width: 18rem;">
        <img src="https://www.veintitres.com.ar/__export/1671032049915/sites/cronica/img/2022/12/14/tablets_x1x.jpg?__scale=c:transparent,w:NaN,h:732,t:3,p:0,q:80" class="card-img-top" alt="...">
        <div class="card-body d-grid gap-2 col-6 mx-auto">
          <a href="/product/list-products/" class="btn btn-primary">Tablets</a>
        </div>
    </div>

    <div class="card .bg-blue" style="width: 18rem;">
        <img src="https://www.mundodeportivo.com/urbantecno/hero/2022/07/Haylou-RT2.png?width=1200" class="card-img-top" alt="...">
        <div class="card-body d-grid gap-2 col-6 mx-auto">
          <a href="/product/list-products/" class="btn btn-primary">Smartwatch</a>
        </div>
    </div>

    
</div>


    <style type="text/css">
        body { background: rgb(174, 214, 241) !important; } 
    </style>

{% endblock %}


 